@import 'tailwindcss';

@theme {
  --color-mediumGray: #565656;
  --color-darkGray: #0f0f0f;
  --color-darkWhite: hsl(0, 0%, 90%);
  --color-background:hsl(0, 0%, 98%);
  --color-edge:hsl(240, 4%, 70%);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.dark{
  --color-background: #050505;
  --color-edge: #27272a;
  --color-amdoiksd:hsl(0, 0%, 60%);
}


li{
  list-style:disc;
  list-style-position: outside; 
  margin-left: 1.5rem;          
  text-align: left;
}

